*.o
*.cmd
*.tmp
*.s
*.so
*.d
*.map
*.dbg
*.a
*.builtin
*.order
*.ko
*.mod.c
.tmp_vmlinux1
.tmp_vmlinux2
.version
Module.symvers
arch/arm64/include/generated/
include/config/
include/generated/
vmlinux
